.container {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 15px;

  .comment-item {
    margin-top: 10px;
  }

  .dynamicContainer {
    margin-left: 50px;
  }

  .editor {
    margin-top: 20px;

    input.comment {
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      margin-bottom: 10px;
      outline: none;
    }

  }
}
